@font-face {
  font-family: 'space';
  src: url(../estilos/space.ttf) format(truetype);
}


.card:hover{
    box-shadow: 0 15 35px #00ffff;
   }
.card{
    font-family: "space", Arial, Helvetica, sans-serif;
    background: radial-gradient(center, red, yellow) ;
  
}
.caja{
    width: 100%;
    height: 50px;

}
.carta{
  color: hsl(309, 26%, 95%) ;
  background-color: rgb(0, 0, 0, 0.8);
  font-size:medium;
  width: 550px;
  transition: box-shadow 0.5s;
  
}
.carta:hover{
 box-shadow: 0 0 15px #00d50480;
}
.cuerpoCarta{
  font-family: 'space', Arial, Helvetica, sans-serif;
}
.cartaJpg{
    width: 250px;
    height: 150px;
    
}
.overlay{
    position: 'fixed';
     top: 0; 
     left: 0; 
     right: 0; 
     bottom: 0;
     background-Color: 'rgba(0,0,0,0.5)';
     /* animation: expand .5s ease-in-out forwards;  */
}
 
.background{
    width: '300px';
    height: '200px';
    background-image: url('../estilos/pxfuel.jpg');
    background-blend-mode: lighten;
    background-size:contain;
    border-radius: 20px;
}
.contenedore {
    position: relative;
    width: 110%; 
    height: 340px;
    background-color: white;
    border-top: 5px solid #03e9f4;
    border-right: 15px solid #03e9f4;
    border-bottom: 10px solid deep black;
    padding: 5px;
    animation: moveLine 4s linear infinite; 
    border: 2px solid transparent; 
    overflow: hidden;
  }
  @keyframes moveLine {
    0% {
      background: linear-gradient(90deg, transparent, #00ffff) 0 0;
    }
    100% {
      background: linear-gradient(90deg, transparent, #00ffff) 100% 0;
    }
  }
  
  
  /* Define la animación */
  @keyframes borderAnimation {
    0% {
      border-image-source: linear-gradient(90deg, transparent, #03e9f4);
    }
    100% {
      border-image-source: linear-gradient(90deg, transparent, #03e9f4);
      background-position: 100% 0;
    }
  }
  
  
  .contenedor {
    animation: borderAnimation 4s linear infinite; 
    border-image-slice: 1;
    border-image-repeat: round;
    border-image-width: 2px;
  }
  .genre {
    transition: opacity 0.3s ease;
    opacity: 1;
    border-radius: 5% 18%; 
}

.genre:hover {
    opacity: 1;
    
}

.genre.Action {
    background-color: rgba(255, 0, 0, 0.8); 
}

.genre.Casual {
    background-color: rgba(0, 255, 0, 0.8); 
}

.genre.Adventure {
    background-color: rgba(0, 0, 255, 0.8); 
}

.genre.RPG {
    background-color: rgba(128, 0, 128, 0.8); 
}

.genre.Indie {
    background-color: rgba(255, 165, 0, 0.8); 
}

.genre.Strategy {
    background-color: rgba(75, 0, 130, 0.8); 
}

.genre.Shooter {
    background-color: rgba(255, 192, 203, 0.8); 
}
.genre.Simulation {
    background-color: rgba(255, 255, 0, 0.8); 
}

.genre.Puzzle {
    background-color: rgba(0, 128, 128, 0.8); 
}

.genre.Arcade {
    background-color: rgba(128, 128, 128, 0.8); 
}

.genre.Platformer {
    background-color: rgba(210, 180, 140, 0.8); 
}

.genre.MassivelyMultiplayer {
    background-color: rgba(85, 107, 47, 0.8); 
}

.genre.Racing {
    background-color: rgba(70,130,180 ,0.8); 
}

.genre.Sports {
    background-color: rgba(240,230,140 ,0.8);
}

.genre.Fighting {
    background-color: rgba(220,20,60 ,0.8); 
}

.genre.Family {
    background-color: rgba(255,99,71 ,0.8); 
}

.genre.BoardGames {
    background-color: rgba(64,224,208 ,0.8); 
}

.genre.Educational {
    background-color: rgba(218,165,32 ,0.8); 
}

.genre.Card {
    background-color: rgba(100,149,237 ,0.8); /* Azul maíz medio */
}
.genre.terror{
    background-color: rgba(3, 3, 3, 0.8)
}

