@font-face {
    font-family: 'Munsteria';
    src: url(../estilos/space.ttf) format('truetype');
  }
.divGeneral {
    justify-content: left;
    position: relative;
    float: left;
    height: 40px;
    margin-bottom: 20px;
    bottom: 20px;
    padding: 10px;
    
}
.labelGeneral {
    align-content: center;
    font-family:'Munsteria', Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    color: azure;
    height: auto;
    bottom: 20px;
    align-items: center;

}
.form{
   z-index: 1;
   width: 400px;
   height: 500px;
}
.formControl{
    width: 100%;
    height: 10px;
    padding: 5px;
    border: 3px solid green;
    border-radius: 10px;
    font-size: 16px;
    transform: translateX();
    z-index: 1;
}
.preview{
    border: 10px solid;
    border-image: url(https://i.pinimg.com/474x/3f/4a/1a/3f4a1a4ecdb889de7b10d5d0822341ec.jpg) 20 round;
    transform: translateX(500px);
    position: relative;
    height: 500px;
    width: 300px;
    background-image: url(https://i.pinimg.com/474x/45/93/4e/45934e0a0e4207824464e69e2709383e.jpg);
    background-size: cover;
}
.btn{
    padding: 10px 20px;
    background-color: #009dff; 
    color: #390000; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;    
}
.btn:hover{
    background-color: blue;
    box-shadow: rgb(226, rgb(101, 255, 101), rgb(75, 75, 255), 0.7);
}
.btn:disabled {
    background-color: #009dff;
    opacity: 0.6;
    cursor: not-allowed;
    backface-visibility: hidden;
    perspective: 1000px;
}

.btn:disabled:hover {
    background-color: #009dff;
    box-shadow: none;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
.hidden-radio{
    display: none;
}
.select-wraper{
    display: none;
    width: 90px;background-color: #390000;
}
.select-wraper.open{
    display: block;
}.arreglo{
    width: 100px;
    z-index: 1;
    font-size: 10px;
    height: 130px;
    position: absolute;
}
.error{
    color: red;
    font-size: 12px;
}
.errore{
    color: red;
    font-size: 14px;
    transform: translateY(-20px);
    background-color: aliceblue;
}

textarea {
    width: 100%;
    height: 20px;
    padding: 10px;
    background-color: #000;
    color: #0f0;
    border: 3px solid #f00;
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    font-size: 16px;
  }
hr{
    border-Style: none; 
  height: 2px; 
  background-Image: linear-gradient(to right, red, orange , yellow, green, blue, indigo, violet)
}
.previmg{
    height: 90px;
    width: auto;
}