@font-face {
    font-family: 'Space';
    src: url(../estilos/space.ttf) format(truetype)
}
.cuerpo{
font-family: 'space', Arial, Helvetica, sans-serif;
width: 33.33%; /* Para mostrar tres elementos por fila */
padding: 10px;
box-sizing: border-box;
text-align: center;


}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
