 @font-face {
    font-family: 'Strasua';
    src: url(../estilos/Strasua.ttf);
 }
 button{
    
    text-decoration: none;
    color: #39ff14;
    margin: 4px;
    border: 4px;
    height: 35px;
    border-radius: 10px;
    box-shadow: #39ff14;
    border-bottom: 3px solid #f3f3f3;
    border-color: #39ff14;
    justify-content: space-between;
    background-color: #1d221e88;
  
  }
 button:hover{
    background-color: #00871788;
    box-shadow: 10px 10px 15px 0px rgb(#710173,225, 223, 0.8);
    cursor: pointer;
  }
 .dev {
    width: 200px;
    height: 300px;
    border-radius: 10% 2% 20% 2%;
  }
  .logo{
    width: 30px;
    height: auto;
    border-radius: 50%;
    border: 0;
  }
  .contact-info{
font-family: 'strasua', Arial, Helvetica, sans-serif;
  }
  .flotante{
    z-index: 1;
    font-size: 28px;
    width: 400px;
    max-width: 800px;
    height: auto;
    position: absolute;
    transform: translateX(70%);
    border: 12px solid transparent;
    border-image: url(https://i.pinimg.com/564x/b9/49/91/b94991e584565d4acdc66bdfbd7e0030.jpg) 20 round; 
    background-image: url(https://i.pinimg.com/originals/51/3f/d6/513fd6f906290e7b87beb71b6cdbb92c.gif); 
    cursor: pointer;
  }